.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .container {
    width: 780px;
  }
}
@media screen and (max-width: 799px) {
  .container {
    width: 100%;
  }
}
