$initial_color: #bb8791;
$initial_color_dark: darken($initial_color, 10);

#path11 {
  fill: $initial_color;
  fill-rule: evenodd;
}
#path13 {
  stroke: $initial_color;
  fill: $initial_color;
  fill-rule: evenodd;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: round;
}
#path15 {
  fill: $initial_color_dark;
  fill-rule: evenodd;
}
#path17 {
  stroke: $initial_color_dark;
  fill: $initial_color_dark;
  fill-rule: evenodd;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: round;
}

@each $ext, $color in (
  a: #ffd594,
  b: #ffcc99,
  c: #bdb6a8,
  d: #ff6633,
  e: #c8b317,
  f: #cccc33,
  g: #ce6067,
  h: #cc3300,
  i: #99cc33,
  j: #a3c4d3,
  k: #e9b22a,
  l: #996666,
  m: #9a3032,
  n: #33cc33,
  o: #3f6068,
  p: #90865e,
  q: #f6dc00,
  r: #003f67,
  s: #263c41,
  t: #74efff,
  u: #663336,
  v: #326ed5,
  w: #9b8b00,
  x: #81bfcd,
  y: #66ffff,
  z: #999900
) {
  .icon-#{$ext} svg {
    #path11 {
      fill: $color !important;
    }
    #path13 {
      stroke: $color !important;
      fill: $color !important;
    }
    #path15 {
      fill: darken($color, 10);
    }
    #path17 {
      stroke: darken($color, 10);
      fill: darken($color, 10);
    }
  }
}

ol, 
ul {
    padding-left: 0;
}

span[class^="icon-"] svg,
span[class*=" icon-"] svg {
  height: 40px;
  width: 32px;
}
