<ul *ngIf="files">
  <li class="list-group-item col-xxs-12 col-xs-6 col-md-4" *ngFor="let file of files.files">
    <span [class]="file.extension | iconColor">
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         version="1.1"
         viewBox="0 0 77 100"
         stroke-miterlimit="10"
         id="svg2"
         inkscape:version="0.91 r13725"
         sodipodi:docname="file.svg"
         width="77"
         height="100"
         style="fill:none;stroke:none;stroke-linecap:square;stroke-miterlimit:10">
        <defs
           id="defs21" />
        <clipPath
           id="p.0">
          <path
             d="M 0,0 960,0 960,720 0,720 0,0 Z"
             id="path5"
             inkscape:connector-curvature="0"
             style="clip-rule:nonzero" />
        </clipPath>
        <g>
          <path 
             inkscape:connector-curvature="0"
             id="path11"
             d="m 0,1.58273 48.412,0 27.588001,27.588 0,70.207275 -76,0 z" />
          <path 
             inkscape:connector-curvature="0"
             id="path13"
             d="m 0,1.58273 48.412,0 27.588001,27.588 0,70.207275 -76,0 z" />
          <path 
             inkscape:connector-curvature="0"
             id="path15"
             d="m 49.65354,27.643098 0,-24.818897 26.362206,24.818897 z" />
          <path 
             inkscape:connector-curvature="0"
             id="path17"
             d="m 49.65354,27.643098 0,-24.818897 26.362206,24.818897 z" />
          <g *ngIf="file.extension | iconColor | safe: 'html'">
            <text x="0" y="80" font-family="Verdana" font-size="26" fill="#fff">.{{file.extension}}</text>
          </g>
        </g>
      </svg>
    </span>
    <span>{{file.name}}</span>
  </li>
</ul>