/* You can add global styles to this file, and also import other style files */

.header {
  text-align: center;
}

.list-group-item {
  border: 0 solid transparent !important;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100% !important;
  }
}
